[2018-02-13 01:03] softeng-701 opened #1 "Change 'Name' to 'Title'"
When you are creating or editing a study, the first input box's title is 'Name'. This should be changed to 'Title' to more accurately reflect the language used to describe a study

[2018-02-13 01:07] softeng-701 opened #2 "First input box not auto-focused on study creation/edit section"
When you open the create/edit study page, the top input box should be auto-focused so that the user can immediately start typing in the title of their study.

[2018-02-13 01:08] softeng-701 opened #3 "Remove Sessions page"
There is an unnecessary page under settings called Sessions. This page serves no discernible purpose and should be removed from the site.

[2018-02-13 01:13] softeng-701 opened #4 "Redesign of settings page including password section"
Currently changing the user's password is done on a separate page under options not under settings. Password changing should be moved to the settings page to reduce clutter.

The settings page should then be then redesigned so it is more obvious when you have made a change to a value. This is to ensure you don't accidentally change a value you did not intend to.

[2018-02-13 20:51] softeng-701 opened #5 "Update incentive input box"
On the create/edit study screen, the input box for the incentive is currently just a plain text input. This input should be changed to include two inputs.

One which provides the category of incentive out of the following:
-One-off payment
-Randomly allocated
-Other

This should then be followed by a text input box where the user can enter either the amount of money or the details of the incentive

[2018-02-13 20:54] softeng-701 opened #6 "Add confirmation for sending invitations"
On the individual page for each study, there is the option to send out the invitations to participate in the study. However there is no confirmation when you click 'send invitation' to ensure the user is certain of all the details they have entered. This could lead to human error and accidentally sending a survey to many people.

[2018-02-13 20:56] softeng-701 opened #7 "No invalid response with incorrect email"
If you attempt to reset your password with an incorrect email, there is no response from the site telling you that the email is incorrect. Essentially nothing happens once you click reset. A warning should appear which advises the user that the email is not registered.

[2018-02-13 20:58] softeng-701 opened #8 "Add option to send study invitations from overall studies screen"
Currently, invitations can only be sent from the view study screen. A user would likely want to send from the overall studies screen too so they can have multiple options of where to click from.

[2018-02-13 21:38] softeng-701 opened #9 "Individual study page does not show correct formatting of email"
On the individual page for each study, the email to be sent out as the invitation is displayed. However, it does not display the proper formatting of the email, as all the email is incorrectly put on to a single line. This page should display the email properly with all the new lines correctly shown.

[2018-02-13 21:39] softeng-701 opened #10 "Remove extra information from post registration screen"
Once you register an account the social media login buttons remain and the default account message also remains. If the user has just registered an account they would not then login through a different method. Therefore these should be hidden after the user has successfully registered a new account

[2018-02-13 21:40] softeng-701 opened #11 "Title for creating or edit study should be dependent on access method"
Currently, the pop-up section for creating a study is identical to the section for editing a study. This is correct except the title is currently ‘Create or edit a study’. This should be changed to be ‘Create Study’ if a new study is being made or ‘Edit Study’ if an already created study is being edited.

[2018-02-13 21:42] softeng-701 opened #12 "No warning that there is unsaved changes in the edit study section"
In the study section, there's the option to edit a study you have already made. However, there is no warning that you have unsaved changes after editing one of the pieces of information. This could lead to a user losing the work they have written if they accidentally click out of the screen

[2018-02-13 21:52] softeng-701 opened #13 "Hide studies and participants tabs until logged in"
Along the menu bar at the top of the site are options for: Home, Studies, Participants and Account. The options Studies and Participants have no use until the user is logged in. They should be hidden from the menu bar until the user is logged in to help declutter the login process.

[2018-02-13 21:54] softeng-701 opened #14 "Fix validation of email format"
Currently, when entering an email on the register, reset password and settings pages the only requirement is that the entered string is 5 characters long. However, this is insufficient to ensure the email is in a valid format. It should check that the entered text is in the correct email format containing an @ with characters both before and after the symbol.

[2018-02-13 22:08] softeng-701 opened #15 "Colour misassociation between view and back buttons"
On the individual study page, the back button is the same colour as the view button is on the overall study page. Back and view do not have a similar meaning and thus it is confusing for the user to have them associated with the same colour.

[2018-02-13 22:20] softeng-701 opened #16 "Fix different display format of buttons on study page"
On the overall study page, there are three buttons at the end of each individual study (View, Edit, Delete). If you go into an individual study these three buttons are replicated in a similar manner but with slightly different purposes (they are instead: Back, Edit, Send).

However, the buttons are displayed in different ways on each of the pages. The overall study page buttons are joined together

[2018-02-13 22:23] softeng-701 opened #17 "Add option to delete study from within individual study screen"
Currently, a study can only be deleted from the overall study screen. A user would likely want to be able to delete the study from the individual study screen too so they can have multiple options of where to click from.

[2018-02-14 21:09] softeng-701 opened #18 "Update footer"
Currently at the bottom of every page is "Created by Fraser and Dinal". This needs to be replaced with the University of Auckland.

Then on the information page add an about section saying that the project was originally worked on by Fraser Lewis-Smith and Dinal Wanniarachchi, was further developed by the students of SoftEng 701, and was all under the supervision of Dr Kelly Blincoe.

[2018-02-14 21:26] softeng-701 opened #19 "Better filtering systems."
On the Participants page, there are currently five text boxes for choosing filters for the database. For filtering quantitative values, such as the minimum number of repositories/contributions, it would be better to constrict the user to the limits of the data rather than giving them infinite range.

[2018-02-14 21:33] softeng-701 opened #20 "Copy existing studies"
At the moment to create a new study, you have to fill out every single info field each time. Users would want to be able to copy existing studies so they do not have to fill out the fields if they are keeping information the same for the new study.

[2018-02-14 21:39] softeng-701 opened #21 "Add email templates"
At the moment the user has to write their email from scratch everytime. It would be useful for the user to be able to save default email templates. A default email template could also be provided for them.

[2018-02-14 21:46] softeng-701 opened #22 "Fix Facebook sign in"
Currently, the Facebook sign in gives a response of "Invalid App ID. The provided app ID does not look like a valid app ID," when attempting to use it to sign in.

[2018-02-14 21:49] softeng-701 opened #23 "Fix Google sign in"
Currently, the Google sign in gives a response of:  "401. That’s an error. Error: invalid_client. The OAuth client was not found" when attempting to use it to sign in.

[2018-02-14 21:52] softeng-701 opened #24 "Fix Twitter sign in"
Currently, the Twitter sign in gives a response of: "Your request cannot be processed. Sorry, an error has occurred. Status: Not Found (Not Found). Message: Not Found" when attempting to use it to sign in.

[2018-02-14 21:57] softeng-701 opened #25 "Add attachments to invitation emails"
Currently, all you can send in the email message body is plain text. It would be useful to be able to add attachments to each of the emails.

[2018-02-14 22:18] softeng-701 opened #26 "Preset time for sending emails"
Currently, you can only send emails manually. It would be useful to be able to preset a time and date for research emails to be automatically sent out. This should also include which timezone the time is according to.

[2018-02-14 23:21] softeng-701 opened #27 "Add password check for changing password settings"
When you change your password it doesn’t ask for your current password, which is an important security measure. Need to check the entered current password matches the logged in user’s password, before allowing the user to change their password. This needs to be done in a secure way so that the password information cannot be intercepted via external sources.

[2018-02-14 23:30] softeng-701 opened #28 "Custom emails"
At the moment the user can only send a single generic email to all participants. It would be more useful to be able to send a custom personal email to each participant about the study. Including their name and other detail from the GitHub database.

[2018-02-15 22:56] softeng-701 opened #29 "Create About Page"
There is too much information in a small space on the home page. The user would be less overloaded if the information was moved to a separate About page. Also the small about section added in #18 should be moved to this new page.

The information left behind on the home page should be sufficient for a user to still be able to figure out the purpose of QualOpt.

[2018-02-15 23:23] softeng-701 opened #30 "Redesign Home page"
Currently, the home page is overcrowded with too much information. #29 will be moving most of the information to another page. So the home page can be re-designed to better fit the goals of the site.

[2018-02-16 00:23] softeng-701 opened #31 "Status of studies"
It would be useful to be able to have different statuses of the studies based on where they are in the process, i.e. inactive (before any emails have been sent out); active (once emails have been sent out); completed (once the user is finished with the study).

This should be able to be viewed from both the individual study screens and the overall study screen.

[2018-02-16 00:52] softeng-701 opened #32 "Save set of participants"
It would be useful to be able to save a set of participants chosen for one study so that they can be reused for another study.

[2018-02-16 00:58] softeng-701 opened #33 "Split study creation in to seperate pages"
Currently, all the information for a study is entered on a single page. This means that the input boxes are all smaller than what the user might require. This is especially true for the email input box.

To improve the workflow, the email information input should be moved to another screen following on after you have entered the study details.

[2018-02-18 11:40] softeng-701 opened #34 "Link filtering participants to studies"
When you set up a study, there is currently no way of filtering the participants to choose from. The Participants page contains the way of filtering the participants.

This filtering of participants should be moved so that it is done for each study. #33 is splitting the study creation into two parts: main info and email. A third section should be created for the filtering of participants. Once the

[2018-02-18 11:52] softeng-701 opened #35 "Alternative options for sending emails"
Currently, the user can only send their email out to all participants listed. There should be an option for sending the email to all the participants or if more participants have been added since the first time it was sent, then only sending to the new ones in the study, who haven't received it.

[2018-02-18 11:56] softeng-701 opened #36 "Status of emails"
Currently, if an email is sent to an incorrect email address there is no way for the user to know this from within QualOpt. It would be useful, after sending the emails, to be able to see which ones were successful and which bounced back.

[2018-02-18 12:00] softeng-701 opened #37 "Fix registration email exception"
Currently, the registration email does not send as there is an authentication exception from the Google API. This will need to be fixed before anyone can register their own accounts rather than just using the default account.

[2018-02-18 12:11] softeng-701 opened #38 "Improve selection of participants on study creation page"
In the edit/create study screen, it is difficult to choose participants as it requires highlighting and cumbersome methods of selecting items from the list.

[2018-02-18 12:23] softeng-701 opened #39 "Add GitHub login and opt-out service"
Currently, users can't login using their GitHub accounts. GitHub is the key resource and interaction point for this site and thus the site requires an interface for GitHub users.

Once logged in to QualOpt, GitHub users should be able to opt-in/out of studies and limit the number of invitations they receive from researchers. They should be able to restrict what kind of studies they would like to r

[2018-02-18 12:32] softeng-701 opened #40 "Connect GHT Torrent to QualOpt"
Currently, the site has only used mock participant data or no data at all for its database. The site needs to be connected to the GHT Torrent database so that actual GitHub users' emails can be acquired for use in surveys.

**NOTE, REALLY IMPORTANT: You must ensure that no emails are sent to actual GitHub users during this project. Make sure that either any emails are sent to fake addresses or tha

[2018-02-18 12:36] softeng-701 opened #41 "More filters for finding participants"
Currently, there are only five filters for finding participants. However, the GitHub API can access significantly more information than what is currently being used. Add as many filters as possible to more accurately reflect the information available.

[2018-02-18 12:43] softeng-701 opened #42 "Static information site for each study"
Currently, QualOpt is only able to send out mass emails to find participants of studies. After that, it is up to the researcher to correspond with the participant.

It would be useful if each study could have its own page on QualOpt where participants could find more information about the study, as it could possibly contain a FAQ. This would decrease the mail correspondence for the participants as

[2018-02-18 12:49] softeng-701 opened #43 "Visualisation of the information stored in the database"
If a visualisation could be added, such as a cluster graph of the types of users based on their GitHub information, it could provide a clearer way of selecting participants for researchers. It could also provide an alternative method of filtering if the visualisation could be made interactable. This visualisation could be featured both on the participants' selection screen but also the home screen

[2018-02-22 03:19] softeng-701 opened #44 "Investigate security for registered accounts"
As QualOpt saves users' login, emails and passwords, there needs to be sufficient security to ensure none of the information can be accessed by a third party. Investigate how this information is stored and how easy it would be for an unsolicited user to access.

[2018-02-23 01:37] softeng-701 opened #45 "Fix liquibase error"
Currently, the database being used causes an error when QualOpt is compiled for production as no connection can be established with the server.  This database holds all the registered users and the GitHub data for sending invitations. The app cannot function without the database connection and must be fixed.

[2018-03-06 02:14] xavier630 commented on #37
Xavier from Git Better here. I'll try to fix this.

[2018-03-06 02:15] oliver-allen commented on #23
Claiming this issue

[2018-03-06 02:20] JoeHorvath commented on #31
Joe from Git Better here, I'll work on this.

[2018-03-06 02:44] zaclochhead commented on #6
zaclochhead

[2018-03-06 02:48] umih874 commented on #14
Claiming this issue

[2018-03-06 02:52] zaclochhead commented on #29
Sidpartha1 claiming

[2018-03-06 02:54] zaclochhead commented on #27
Working on this issue

[2018-03-06 02:56] xavier630 opened #46 "Typo in readme.md"
There is a typo currently in the readme.md.

![image](https://user-images.githubusercontent.com/9077250/37011872-ea99dc24-2156-11e8-854e-1963c40a6289.png)

[2018-03-06 02:57] xavier630 commented on #46
Solving it now.

[2018-03-06 03:27] xavier630 commented on #46
@softeng-701

[2018-03-06 03:35] oliver-allen commented on #18
Claiming this issue

[2018-03-06 03:36] xavier630 commented on #46
Also, I tried to add a label but had no success. Perhaps I lack permissions.

[2018-03-06 03:46] jsoulsby commented on #33
I'll be taking a look at this.

[2018-03-06 04:33] Nateeo commented on #41
Working on this issue

[2018-03-06 04:37] Nateeo commented on #22
Working on this issue

[2018-03-06 04:40] JGud007 commented on #11
Claiming this issue

[2018-03-06 04:54] wilmol commented on #23
Working on this

[2018-03-06 04:59] Karim-C commented on #36
I am working on this issue

[2018-03-06 05:27] pulkitkalra commented on #26
I'll try fixing this one

[2018-03-06 05:46] FMcIntosh commented on #16
Claiming

[2018-03-06 06:37] TheGuardianWolf opened #48 "Dockerise client and server instances using docker-compose"
Such a setup would mean that you can easily have an environment up to develop and test both parts of the application.

[2018-03-06 06:39] TheGuardianWolf opened #49 "Ensure Java compatiblity with JRE/JDK 8"
Optional dependency on #48 before this can begin.

Problem likely to be library based, not much information known at this point except what I have been told.

[2018-03-06 06:40] TheGuardianWolf commented on #46
You will have to wait for approval on the issue before it can be 'assigned'

[2018-03-06 06:41] TheGuardianWolf commented on #49
Calling @softeng-701

[2018-03-06 06:41] TheGuardianWolf commented on #48
Calling @softeng-701

[2018-03-06 06:46] TheGuardianWolf commented on #48
Jokes, didn't see the docker section at the bottom of the readme.

[2018-03-06 06:46] #48 closed

[2018-03-06 08:16] wilmol commented on #46
Another typo in README.md
![ziv5d9e](https://user-images.githubusercontent.com/18110897/37021186-923bf274-2183-11e8-9055-909b96dc5ce0.png)

[2018-03-06 08:42] victorlian commented on #21
i'll have a look at this :)

[2018-03-06 09:38] JGud007 opened #50 "Create a batch file to launch QualOpt"
Create a batch file which can be used to launch QualOpt, this would involve running both mvnw and yarn start. This would be a small task however would add convenience for all developers.

[2018-03-06 09:38] JGud007 commented on #50
@softeng-701

[2018-03-06 11:10] TheGuardianWolf opened #51 "mvnw is CRLF instead of LF, preventing the script from running in docker"
I couldn't get this script to actually run in a docker container till I fixed this, so this minor issue should probably be fixed and updated in .gitattributes?

[2018-03-06 11:10] TheGuardianWolf commented on #51
@softeng-701

[2018-03-06 13:51] TheGuardianWolf commented on #50
As a sidenote to this issue, I've made dev editions of those docker scripts. This doesn't really fit in with how the repo is developed currently so I'll leave it here instead so people can start using it if needed.

Using this method, you don't need to install JDK, Node.js or pollute your user directory with the maven packages.

Install docker and run ```docker-compose up``` with these files in yo

[2018-03-06 19:07] JGud007 commented on #50
Additionally could also make a batch file for testing.

[2018-03-06 19:35] JGud007 commented on #33
@jsoulsby this may have some dependency to my issue #11 as I will be making separate create and edit pages for studies to allow for the different titles my issue requires

[2018-03-06 21:59] FMcIntosh commented on #1
Claiming

[2018-03-06 22:01] JGud007 commented on #17
Claiming this issue

[2018-03-06 22:54] JGud007 commented on #33
@jsoulsby ignore my last comment that was a bad way of fixing my issue so am doing it differently now shouldn't affect you

[2018-03-07 00:07] FMcIntosh commented on #3
claiming

[2018-03-07 00:09] oliver-allen commented on #41
Claiming this issue

[2018-03-07 00:14] sidpartha1 commented on #18
claiming

[2018-03-07 00:27] frederickfogerty opened #57 "mvnw does not have executable permissions"
Running `./mvnw` from a freshly cloned repository does not work (for me at least). I needed to run `chmod +x mvnw` to make this work.

The `x` permission should be added to `mvnw`. Alternatively, as @Nateeo mentioned [below](https://github.com/kblincoe/QualOpt_SE701/issues/57#issuecomment-370980353), the documentation could be changed `bash ./mvnw`

[2018-03-07 00:27] frederickfogerty commented on #57
@softeng-701

[2018-03-07 00:36] Nateeo commented on #57
yeah I had the same issue, an alternative is we could change the instructions to simply do `bash ./mvnw`

[2018-03-07 00:43] frederickfogerty opened #58 "Helper method `this.isNew()` in create/edit popup dialog"
The logic to check whether the popup dialog is creating a new study or editing an existing study is currently used in one place, but after the merge of #52, it will be used in two places. I would like to refactor this into a new method `this.isNew()` to keep it DRY.

Currently used here:
https://github.com/JGud007/QualOpt_SE701/blob/master/src/main/webapp/app/entities/study/study-dialog.component.

[2018-03-07 00:43] frederickfogerty commented on #58
@softeng-701

[2018-03-07 00:46] Nateeo commented on #20
Working on this issue

[2018-03-07 01:01] frederickfogerty commented on #2
Claiming

[2018-03-07 01:14] sidpartha1 commented on #13
claiming

[2018-03-07 01:16] crat019 commented on #28
I am claiming this one

[2018-03-07 03:20] FMcIntosh commented on #19
@softeng-701 Could you explain further where the limits of the data are coming from?

[2018-03-07 03:51] TheGuardianWolf commented on #57
This is probably related to the #51 issue I made, as soon as I changed the line ending it works, I didn't need the chmod +x.

[2018-03-07 03:52] FMcIntosh commented on #10
Claiming

[2018-03-07 04:04] frederickfogerty commented on #57
@TheGuardianWolf thanks for the investigation, I could not get it to work by changing the line endings (I have just tested this now).

[2018-03-07 04:07] TheGuardianWolf commented on #57
In that case, I propose we do both changes, I know the issue is fixed for me after I change gitattributes and reclone.

[2018-03-07 04:17] AprajitGandhi commented on #7
I'm doing this one

[2018-03-07 05:12] zaclochhead commented on #15
Will do this

[2018-03-07 05:25] umih874 commented on #30
Team Veovo claiming this one

[2018-03-07 05:35] sidpartha1 commented on #6
Uros aka (tim duncan) claims this

[2018-03-07 07:29] crat019 commented on #39
I want to claim this one. Working in collaboration with Dylan Hall (Group 5 - Auka)

[2018-03-07 07:31] dylHall commented on #40
Will begin investigating this feature request - this is related to Issue #39, so will work alongside Kalana (Group 5 - Auka).

[2018-03-07 22:01] frederickfogerty commented on #44
Claiming.

[2018-03-07 22:29] Jcen902 commented on #35
I am here!

[2018-03-08 01:03] lathakarthigaa commented on #49
Specify the size of the issue @TheGuardianWolf

[2018-03-08 01:42] Karim-C commented on #8
I am working on this issue

[2018-03-08 02:53] TheGuardianWolf commented on #49
@lathakarthigaa I can't say for sure, but I will be following this upgrade guide:
https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.0-Migration-Guide

I think this can be classed at very large, but I can't be 100% certain until we actually get into the code and make changes. Basically everything needs to be checked, but not necessarily changed in that guide.

If this means that we

[2018-03-08 03:21] lathakarthigaa commented on #49
@TheGuardianWolf Settle down on LARGE now, we can change it based on the dependencies later. Sounds good?

[2018-03-08 03:30] lathakarthigaa commented on #51
@TheGuardianWolf very-small?

[2018-03-08 03:31] lathakarthigaa commented on #58
@frederickfogerty size please!

[2018-03-08 04:23] TheGuardianWolf commented on #49
Alright, I'll start working on this then

[2018-03-08 04:23] TheGuardianWolf commented on #51
Yes, I'll submit the pull request shortly

[2018-03-08 04:46] FMcIntosh opened #63 "Remove login options from registration page"
Currently on the registration page there is a side bar that has the Google/Facebook/Twitter logins. This seems to be a weird user experience and I am suggesting these be removed from the page.

This relates to issue #61 where the logins were removed once the user has registered. I am proposing to remove them from the page even before the user has registered. This issue would be very small as it is

[2018-03-08 05:06] FMcIntosh commented on #63
@softeng-701

[2018-03-08 06:34] Nemeritz commented on #9
Gonna take this

[2018-03-08 06:48] Karim-C commented on #8
@softeng-701 I have also completed this issue. When I claimed the issue, no one had claimed it. The comments made by "zaclochhead" were not visible since the account had temporarily been ban. Can I still get credit for the work I did on this issue for the assignment?

[2018-03-08 07:25] Karim-C commented on #5
I am working on this issue

[2018-03-08 08:42] zaclochhead commented on #8
@softeng-701  can confirm that one of githubs bots accidentally banned me for a few hours so Karim could not see that this issue was already complete.

[2018-03-08 09:02] TheGuardianWolf commented on #49
@lathakarthigaa Now that I have some idea of the scope of this task, I'm still going to suggest very large even without the additional dependencies (count is 1 currently for something other than spring), this was the original size as suggested by @kblincoe when I talked to her about this issue.

The Spring 2 framework has apparently moved a lot of namespaces around and re-implemented a portion of

[2018-03-08 09:26] softeng-701 commented on #49
@TheGuardianWolf Latha here, you can start working on it. APPROVED.

[2018-03-08 10:19] Karim-C commented on #12
I am claiming this isssue

[2018-03-08 20:40] wilmol commented on #36
Will work on this soon

[2018-03-08 21:04] #46 closed

[2018-03-08 21:07] #11 closed

[2018-03-08 21:09] #16 closed

[2018-03-08 21:10] #1 closed

[2018-03-08 21:13] #18 closed

[2018-03-08 21:15] #13 closed

[2018-03-08 21:17] #3 closed

[2018-03-08 21:19] softeng-701 commented on #63
@FMcIntosh APPROVED

[2018-03-08 21:20] softeng-701 commented on #58
@frederickfogerty Kindly mention size of the issue in all your future requests!

[2018-03-08 21:22] softeng-701 commented on #57
@frederickfogerty specify the size please! Please do it in all your future requests!

[2018-03-08 21:24] softeng-701 commented on #50
@JGud007 Medium works? Specify the size in all future requests.

[2018-03-08 21:41] frederickfogerty commented on #58
@softeng-701 sure, will do in the future! I think this is `very-small`.

[2018-03-08 21:42] frederickfogerty commented on #57
@softeng-701 will do. I think this is `very-small`

[2018-03-09 01:09] jsoulsby commented on #33
@softeng-701 Instead of shifting the 'Email' section of the modal into a separate page, how do you feel about splitting it vertically into two sections?

This will keep all information relevant to creating a new study on one page and should increase the size of input text boxes as well.

[2018-03-09 01:35] JGud007 opened #69 "Sign in button on the homepage"
On the homepage add a button to sign in somewhere. Currently you need to click into the account drop-down and then select sign in. It would be more user friendly to have sign in button somewhere obvious on the homepage to allow a non logged in user to log in. This button should not be present on the homepage if the user is logged in.

This would relate to issue #30 Redesign Home page

This would b

[2018-03-09 02:01] xavier630 commented on #37
@softeng-701
Hi, I'm currently working on this.
The issue is that the authentication fails when trying to send the email through gmail. As far as I can tell, it's because the account doesn't exist as a gmail account:
![image](https://user-images.githubusercontent.com/9077250/37186479-9137cf46-23aa-11e8-9cdc-d2d911a9dd9e.png)
My solution that I want to try is to create a gmail account for qualopt a

[2018-03-09 02:35] wilmol commented on #36
Currently 'Send Invitation' button does nothing. I will fix this first.

[2018-03-09 04:03] dylHall opened #70 "Typos in About page"
Just had a quick look through the About page, and identified a few typos in the "About the project" section.

"QaulOpt" and "Qual opt" should be switched to "QualOpt."

@softeng-701 Since the routing and page have already been set up, it would just be an easy **very-small** task just to fix these typos!

[2018-03-09 04:29] wilmol opened #71 "Fix Send Invitation button"
@pulkitkalra and I have this problem.

Currently, the Send Invitation button on the view single study screen doesn't send emails to the participants. This needs to be fixed for #26 and #36.

Will need to investigate further but I think the logic is there just not linked to the button so small issue.
@softeng-701

Update: I don't think the API had support for sending studies so I created a new endp

[2018-03-09 22:48] AprajitGandhi opened #74 "Provide better status alert message on successful password reset"
The current message given after a successful password reset is "Check your emails for details on how to reset your password."

The current best practice used for email password resets gives a better indication of which email address the recovery email has been sent to.

An example would be:

"Instructions for resetting your password have been sent to [EMAIL ADDRESS]"

As this issue is a quality of

[2018-03-10 00:00] AprajitGandhi opened #75 "Validating passwords on registration and settings"
Currently if the two passwords don't match when registering or setting a new password the user receives no indication that they don't match until they submit.

Also is to improve consistently with the registration page which gives small red error messages while the user is filling out the form for their email and username. There is no indication for when password mismatch until after form submissi

[2018-03-10 02:01] wilmol commented on #71
@pulkitkalra the button now has some functionality although there is an authentication problem. However, I don't think it blocks #26 anymore.

[2018-03-11 10:23] jsoulsby commented on #34
#33 Might take a look at this after I'm done with 33.

[2018-03-11 23:08] jsoulsby commented on #34
Claiming this now.

[2018-03-12 05:34] victorlian opened #79 "Functionality and UI updates for adding participants when creating a study"
Currently in the creating a study dialog, the participants section is a multi-select pane, displaying an email in each row.

Since the idea of QualOpt is for researchers to "filters participants to receive the invitation" (as stated in the seminar), there should at least be more information about the participants for the researcher to select (not just the email!). This information could be display

[2018-03-12 05:34] victorlian commented on #79
@softeng-701

[2018-03-12 05:47] victorlian commented on #21
Front-end changes depends on #33 .

[2018-03-12 05:48] #79 closed

[2018-03-12 05:51] victorlian commented on #79
My bad, did not see #34. Please ignore this issue.

[2018-03-12 06:29] FMcIntosh opened #81 "Remove 'Go To Studies' Button from homepage when not logged in"
Currently, there is a button labelled 'Go To Studies' that is visible on the homepage whether the user is logged in or not. When the user is not logged in, clicking this button goes to an Error Page, with a popover that has the log in options.

There are a couple of options, but it seems clear that there is no point the user being able to go to their studies when they are not logged in because thi

[2018-03-12 08:00] xavier630 commented on #46
@lathakarthigaa Yep, I tried to add the size as a label when I created it but didn't seem to have permission. I'll specify it in the comments next time.

[2018-03-12 08:14] KijongHan commented on #42
I will be claiming this issue. (Group 5 - Auka)

[2018-03-12 08:33] pulkitkalra commented on #26
@softeng-701, I'm looking for some clarification on this issue.

Is the intention for this that you may want to send out emails a couple of days later from now. This would require the application to be live and published. Additionally, I would also need to set-up something like a AWS Cluster with [Quartz](http://www.quartz-scheduler.org/) and register schedules for emails within that cluster. This

[2018-03-12 09:07] pulkitkalra opened #82 "Feature Request: Allow Participants to select more than one language"
Very often participants will have expertise in multiple languages/ frameworks. At the moment, when a participant is created, only one language can be specified and the user is free to specify any language they wish.

This feature would enable people wishing to aim studies to participants with a set of skills to be found.

To ensure good usability and prevent users from mistyping their skill, a dro

[2018-03-12 09:14] pulkitkalra opened #83 "Filter participants by more than one language"
For #82 to be useful, a study creator would need to be able to filter participants in more than one language. This could be done using a drop-down menu and check boxes to select languages that you want to filter for.

This would be useful to any study creators who are aiming for participants with a large range of specific skills.

@softeng-701 This would probably be a **medium** issue since the UI

[2018-03-12 09:51] xavier630 commented on #5
Xavier from Git Better here. I'm working on this as my other issue has been solved.

[2018-03-12 21:28] xavier630 commented on #5
I think that this issue is at least a medium as it involves other changes, such as how we store the information in the database and also how we represent the incentives when looking at our studies. This is on top of the interface changing when creating and editing studies.

[2018-03-12 23:41] Jcen902 commented on #35
@softeng-701 The send e-mail button actually not linking anything, can I do this in the alternative options as well? I don't think you want me to make it can actually send email to real user, right?

[2018-03-13 00:17] softeng-701 commented on #35
@Jcen902 I see you submitted a PR, are you happy to close this issue with you PR?

[2018-03-13 00:26] Jcen902 commented on #32
Looking....

[2018-03-13 00:28] Jcen902 commented on #35
Sure

[2018-03-13 00:38] JoeHorvath commented on #9
I'll fix this.

[2018-03-13 01:38] JoeHorvath commented on #4
I'll do this.

[2018-03-13 02:23] wilmol commented on #36
Blocked until #76 is merged.

[2018-03-13 02:46] umih874 commented on #81
I would be removing this button completely as a part of #30 issue. The user can access studies through the drop-down menu once they log in. So maybe we don't need to worry about this issue?

[2018-03-13 02:52] umih874 commented on #69
It seems like there is already a login function on the home page in form of a hyperlink. This should just be turned into a button. I would be moving this around in regard to #30 issue.

[2018-03-13 03:04] JGud007 commented on #69
@umih874 wow I never even realised that was a hyperlink! if your already working on this in #30 I will close the issue.

[2018-03-13 03:26] #2 closed

[2018-03-13 03:29] softeng-701 commented on #69
@JGud007 you are right, we have to close this issue! Thanks.

[2018-03-13 03:30] #69 closed

[2018-03-13 03:37] softeng-701 commented on #26
@pulkitkalra Please setup Email scheduling using Quartz on the server where the application is published. I will update this to large.
APPROVED now to work on this issue!

[2018-03-13 03:43] softeng-701 commented on #74
@AprajitGandhi APPROVED!

[2018-03-13 03:44] softeng-701 commented on #75
@AprajitGandhi APPROVED!

[2018-03-13 03:47] softeng-701 commented on #50
@JGud007 APPROVED!

[2018-03-13 03:47] JGud007 commented on #50
claiming this one

[2018-03-13 03:47] softeng-701 commented on #57
@frederickfogerty Awesome! APPROVED!

[2018-03-13 03:48] softeng-701 commented on #58
@frederickfogerty Awesome! APPROVED!

[2018-03-13 04:09] xavier630 opened #87 "[Bug] Signing out of study requires two sign-out clicks."
I have just noticed this with the study page that when you click sign out, it takes you to the home page and you have to sign out again.

Steps to reproduce:
1) Sign in as user/user
2) Navigate to studies
3) Click account then sign out
4) Not signed out, have to do step 3 again.

I have looked through the issues and can't see anything similar.

I estimate that this issue is a small to fix.

@softe

[2018-03-13 04:12] xavier630 commented on #38
I'll see if I can add some checkboxes to this.

[2018-03-13 04:33] kblincoe commented on #70
Are there other typos or is this the only one?

[2018-03-13 04:43] Karim-C opened #88 "Improve error response for a non-well-formed email address"
On the registration page, when entering an email which is not well formed the user does not get an informative error message. The error message should advise the user that the email is not well-formed. At the moment the user is only told that something is wrong and to try again later which is misleading. The error message currently is: “Registration failed! Please try again later.”

The following

[2018-03-13 04:48] victorlian opened #89 "[UI Bug] Message after deleting studies shows id instead of name"
On the overall studies screen, a green bar will pop-up every time a study is created or deleted.
The message says will say: "A study is created/deleted with identifier XXX"

Currently, "XXX" is the **name of the study** when a study is created, yet "XXX" is **the id of the study** when a study is deleted. Hence lack of consistency. (This is the bug)

From a UI/UX perspective, the message would be

[2018-03-13 05:13] oliver-allen commented on #41
To add more filters to participants, I will need to collect more information from the Github API. This issue relates to #40

[2018-03-13 05:47] AprajitGandhi commented on #74
I've claimed this one and made the necessary changes.

[2018-03-13 05:48] AprajitGandhi commented on #75
I'm doing this now

[2018-03-13 07:01] softeng-701 commented on #81
@FMcIntosh As per @umih874, can we close this issue?

[2018-03-13 07:45] softeng-701 commented on #87
@xavier630 APPROVED!

[2018-03-13 07:55] softeng-701 commented on #82
@pulkitkalra APPROVED!

[2018-03-13 07:56] softeng-701 commented on #83
@pulkitkalra APPROVED!

[2018-03-13 08:01] #20 closed

[2018-03-13 08:07] wilmol commented on #71
@softeng-701 this was merged without the size being set. Can I confirm it was medium?

[2018-03-13 08:17] wilmol opened #91 "Authenticate users email for sending studies"
Currently, studies are sent to participants from a dummy gmail account
(see `org.project36.qualopt.service.StudyService`). AFAIK they should be sent from the user who created the study.

@softeng-701 I think this is similar to #37 so medium sized issue.

[2018-03-13 08:22] dylHall commented on #41
Hey, here's a few links that describe some more of information that we could additionally extract from the GitHub API during a user search:

https://developer.github.com/v3/search/#search-users
http://github-api.kohsuke.org/apidocs/index.html?overview-summary.html

Most notably, that second link shows the fields present on the GHPerson that I've used as part of the domain model in the backend impl

[2018-03-13 09:55] victorlian commented on #75
Claiming this one since my issue is blocked atm. :)

[2018-03-13 13:51] TheGuardianWolf commented on #45
@softeng-701 can I get a bit of an explanation of how this issue can be reproduced? Currently development seems to be working fine, how do I compile for production?

[2018-03-13 13:58] TheGuardianWolf opened #94 "Warning in yarn start process"
Remove the double dash from the webpack-dev-server script for yarn to suppress warning.

[code]

Size is very small @softeng-701 .

[2018-03-13 13:59] TheGuardianWolf commented on #51
#62

[2018-03-13 13:59] #51 closed

[2018-03-13 14:00] TheGuardianWolf commented on #49
Current progress is that all the build time errors have been fixed, runtime now requires debugging.

Tests are crashing on launch, need to figure out why this is.

[2018-03-13 21:33] dylHall commented on #70
Had another look and "recieve" is also a typo which is used twice on the page (and potentially "customise" to customize).

Note: these are also misspelled on the home page of QualOpt as well.

[2018-03-13 21:43] dylHall commented on #40
After Chamara and I worked on this and had a discussion with Kelly and Latha, I just wanted to write down the high-level workflow that we’ve currently planned for in our implementations of features in #39 and this issue.

Initially, a Researcher will use the tool to establish their Studies in the web app and will check the participants currently present in the database to send email invitations/in

[2018-03-14 00:29] AprajitGandhi commented on #19
Claiming this one, @softeng-701 just to re-iterate. Where are the limits for the data coming from?

[2018-03-14 01:39] zaclochhead opened #99 "Colour misassociation between copy and send invitation buttons"
Issue after adding in send invitation button from issue #8
On the main studies page, the send invitation and copy buttons are the same colour. Copyand Send Invitation do not have a similar meaning and thus it is confusing for the user to have them associated with the same colour.

[2018-03-14 01:39] zaclochhead commented on #99
@softeng-701

[2018-03-14 01:46] st970703 commented on #83
Hey,
I will work on this

[2018-03-14 05:20] Karim-C commented on #12
I have submitted the pull request (#101) for this issue.

[2018-03-14 06:25] Karim-C commented on #28
I am claiming this issue.

[2018-03-14 22:59] FMcIntosh commented on #81
@softeng-701 Yes if the button is being removed this can be closed. Cheers @umih874

[2018-03-14 23:21] #81 closed

[2018-03-14 23:22] #33 closed

[2018-03-14 23:28] softeng-701 commented on #89
@victorlian APPROVED!

[2018-03-14 23:29] softeng-701 commented on #71
@wilmol size label added now!

[2018-03-14 23:30] #71 closed

[2018-03-14 23:37] kblincoe commented on #70
Please fix in issue #29

[2018-03-14 23:37] #70 closed

[2018-03-14 23:37] kblincoe commented on #29
Some typos have been found in this page. See issue #70. Please fix.

[2018-03-14 23:58] zaclochhead commented on #29
Sidpartha1 fixing

[2018-03-15 00:10] wilmol opened #102 "UI bug: Study is 'active' if confirmation is cancelled."
Currently, if you click send invitation the study status is set to 'active' immediately when it should wait for the user to click send invitation again on the confirmation pop-up.

@softeng-701 This requires moving existing code so a **very-small** issue.

[2018-03-15 00:12] wilmol commented on #102
Another bug is the send invitation button is stil there when the study is active? Is this intended e.g. if new participants join an existin gs

[2018-03-15 01:17] TheGuardianWolf commented on #57
Has this issue been merged in yet? If not then my very large issue's pull is going to fix this as a side effect, so pull now before it's too late.

[2018-03-15 01:20] TheGuardianWolf commented on #44
I've changed the security system as part of the Java 9 upgrade, you'll have to review the new changes unfortunately when it gets pulled.

I'm able to assist with this also if you want pointers, have a decent understanding of the Java components now.

[2018-03-15 02:01] st970703 opened #103 "Issue: Encrypting Spring Social Client IDs and Secrets"
This issue is related to Issue #24, as well as #22 and #23.

At the moment, all the Spring Social Client IDs and Secrets are exposed as plain strings in 'src/main/resources/config/application.yml'.

As 'TheGuardianWolf' suggested, If these IDs and secrets are committed to a public repository then they are no longer secrets.
This issue should investigate alternative means of providing this type of

[2018-03-15 03:59] TheGuardianWolf commented on #103
Normally these are provided locally via environment variables, I suggest merging the issue with #92 and #50 to prompt users to fill them via user input or take them from env.

[2018-03-15 04:02] TheGuardianWolf opened #105 "QualOpt doesn't work in Heroku"
I tried deploying the original version of QualOpt before we did any changes and it didn't actually work before.

Now that I've done the Java 9 upgrade, this should be fixed. Size will be medium.

Dependency on #49

Error logs as below from my spring-upgrade branch.

[code]

[2018-03-15 04:34] TheGuardianWolf opened #106 "TSLint producing linter warning on file"
As described below, recent changes has caused warnings to occur.

Size is very small.

[code]

[2018-03-15 05:26] st970703 opened #107 "Issue: Fix Twitter Sign-Up Registration Email Issue"
This issue is related to Issue #24.

Upon registration, a registration email should be sent (as there is a message saying an email is sent). However, after signing in with Twitter and the registration email could not be sent. An IllegalArgumentException is thrown.

![image](https://user-images.githubusercontent.com/20368209/37445408-bb460c68-287c-11e8-9a24-57fbcc483678.png)

![image](https://user-

[2018-03-15 05:33] victorlian commented on #107
Thanks, once this issue and #103 are both approved, I'll approve the change in #24 and that can be merged.

[2018-03-15 06:47] softeng-701 commented on #105
@TheGuardianWolf APPROVED!

[2018-03-15 06:55] TheGuardianWolf commented on #105
Someone feel free to take this, I've done enough as is and need to work on other projects.

[2018-03-15 07:02] softeng-701 commented on #106
@TheGuardianWolf APPROVED!

[2018-03-15 07:30] kblincoe commented on #91
This one will require some investigation. To send the email from the user who created the study, you would need their email server, username, password, etc. Which users might not be willing to share.

[2018-03-15 08:47] softeng-701 commented on #94
@TheGuardianWolf Do you think it takes an hour to finish to claim as very-small?

[2018-03-15 08:49] softeng-701 commented on #107
@st970703 APPROVED!

[2018-03-15 09:35] TheGuardianWolf commented on #94
Not really, we can 'merge' this one with #106

[2018-03-15 21:29] pulkitkalra commented on #36
@wilmol this shouldn't be blocked by #76 anymore, but I'm wondering if #26 (my issue) would block this. You would want the status to reflect something like: "Email Sent!" or "Email Scheduled to be sent in xx hours".

Unfortunately, #26 is taking much longer than I anticipated, but hopefully this won't be blocked for long.

[2018-03-15 23:05] wilmol commented on #36
@pulkitkalra I have the backend service now retrieving the bounced email addresses (the hard part).

For the frontend I plan for a pop-up showing 'Failed to send study ... to ...' with the bounced addresses and a link to view that study. This pop-up will only show if it fails to send (I think its redundant to show successfully sent?).

So in regards to your issue this would mean pop-ups when the u

[2018-03-15 23:08] wilmol commented on #36
@pulkitkalra For the backend I've modified the StudyService class from #76 and its specific to gmail at the moment so let me know if you need to change that class.

[2018-03-16 00:05] Jcen902 commented on #45
@TheGuardianWolf When you shutdown the APP, all data in the database is lost. That's what I found

[2018-03-16 00:54] Jcen902 opened #111 "Satus is "Complete" when copy from a complete study"
When copy a study, the new study should have a status of "inactive" instead of what it got now(which is "Complete").

This should be a small/medium issue.

[2018-03-16 01:33] Jcen902 opened #112 ""Entities" tab is not necessary"
When sign in as admin, there is a tab called "Entities" which provide two options: "studies" and "participants", but there is "Studies" and "Participants" tab already, so "Entities" tab is not necessary.

@softeng-701 This is a small issue

[2018-03-16 02:03] softeng-701 commented on #112
@Jcen902 APPROVED!

[2018-03-16 02:04] softeng-701 commented on #111
@Jcen902 Seems like a small issue. APPROVED!

[2018-03-16 02:07] softeng-701 commented on #94
@TheGuardianWolf Awesome! I will close this one!

[2018-03-16 02:07] #94 closed

[2018-03-16 02:08] softeng-701 commented on #99
@zaclochhead can you kindly add a picture to show the issue, thanks!

[2018-03-16 04:08] jsoulsby commented on #19
I believe it's just for user convenience, instead of having text boxes users input for filtering, drop down select inputs could be used for location (populated with all unique locations registered).

Likewise for programming language and occupation.

For minimum number of contributions and repositories I think a simple 1/5/10/20/50 select box would work just fine as well.

[2018-03-16 04:08] jsoulsby commented on #34
As I'll be moving the participants page onto the studies page, a lot of dependencies are going to be affected, essentially anything that uses the participants page accessed from the navbar at the top of the screen:

#82 - Filtering participants by more than one language
#41 - More filters for participants (and in turn #40 as Dylan has mentioned)
#38 - Improve selection of participants on study cre

[2018-03-16 06:01] zaclochhead commented on #99
@softeng-701  as requested the colour misassociation issue is pictured below. The copy and send invitations button have the same colour but different functionality.

![colourissue](https://user-images.githubusercontent.com/22784547/37505911-389f989e-294c-11e8-932d-f437d2aa9afc.png)

[2018-03-16 06:53] pulkitkalra commented on #36
@wilmol actually, I just realised that there is now a pop-up prompt asking the user to confirm send when you press 'send invitation'. That can be used to confirm to the user that the email will instead be sent in xx hours (if they preset a time). So yeah, don't worry about the successfully sent prompt :)

I will be changing StudyService, but your PR will probably come in before I finish my issue s

[2018-03-16 10:23] victorlian commented on #89
Updating on some more details:

**How to reproduce?**
1. Log in as user/user, move to "Studies" tab.
2. Create a study, fill in some details, and click OK. A green message bar will be shown after submission. Observe that the **name** of the study is being used here.
3. Delete the study. A green message bar will be shown after confirmation. Observe that the **id** of the study is being used here.

[2018-03-16 10:39] victorlian opened #115 "[Bug] Constraints needed on creating new participants"
**Description**
When creating a new participant under admin mode, the form asks for "number of contributions" and "number of repositories". This is expected to be a positive integer. No form validation is implemented.
This could cause: negative numbers, decimals and weird things to be entered and actually stored.
There is also no upper/lower limit, which could make the server overflow the int (the

[2018-03-16 10:43] victorlian commented on #115
**Dependency**
#34 Link filtering participants to studies

The participants page might be removed for the users page. It may still be helpful for the admin page though. (Since general users should not be adding participants)

[2018-03-16 10:43] victorlian commented on #115
@softeng-701 suggested size of issue: small.

[2018-03-16 22:24] st970703 commented on #107
Hey,
I will pick this issue up.
I don't think I can fix the fact that the Twitter API cannot retrieve email addresses, but I can solve the exception caused by the 'to email address' is null.

[2018-03-17 05:43] kblincoe commented on #103
I don't see why this needs to be a separate issue (this is part of the implementation in issue #24). Please fix it there.

[2018-03-17 05:43] #103 closed

[2018-03-17 06:37] Karim-C commented on #28
@softeng-701 the names of the participants are currently not stored in the database. I will have to add functionality for the participant's names to be entered upon creation. This will involve changes to the database schema, UI and other logic to connect the front to the back. This seems to be increasing the scope beyond medium to large.

I can currently customise the invitation with the participa

[2018-03-17 08:38] kblincoe commented on #23
Please see the issues related to secret keys on #95 and consider this in your implementation

[2018-03-17 08:39] kblincoe commented on #22
Please see the issue related to secret keys in #95 and reopen this issue if necessary. Cheers

[2018-03-17 17:45] AprajitGandhi commented on #19
@kblincoe , no response coming from TA. Can you clarify where are the limits for the data coming from?

[2018-03-17 18:37] kblincoe commented on #19
I think limit is not quite the right word. As @jsoulsby says, it is about making creating the filters more convenient for the user. So providing drop downs based on location or providing a slider for number of commits which goes from the smallest to largest number of commits based on the potential participants. Hope that provides clarification.

[2018-03-18 03:17] AprajitGandhi commented on #19
Code looks fine, ran the tests and they all passed. Good use of tests and well documented. APPROVED.

[2018-03-18 04:32] Nateeo commented on #22
@kblincoe Will be necessary to re-open this issue, I am working on a fix that addresses the secret key issue. As @softeng-701 closed it, I don't have permissions to re-open. Can the TA re-open this issue for me? Thanks.

[2018-03-18 04:59] AprajitGandhi opened #118 "Filter participants by multiple locations"
Similar to #19 and #83 , there is no way to limit filtering to locations of participants in the current system and for the filter to include multiple locations. It would be better to constrict the locations the user can select from to data already in the system.

This would be useful to any study creators who are aiming for participants in multiple locations.

Note: This will interact with #34 and

[2018-03-18 05:41] wilmol commented on #23
@kblincoe Will do. I'll investigate again after doing #36.

[2018-03-18 06:36] Nemeritz commented on #89
If no one's already doing this I'll do it.

[2018-03-18 06:59] wilmol commented on #115
Hi Victor. A similar issue is if the Participants email address is not a valid internet address:
![screenshot from 2018-03-18 19-48-53](https://user-images.githubusercontent.com/18110897/37563459-f6e2504a-2ae5-11e8-9ee3-71f7114a0c66.png)
This exception is only thrown when attempting to email the participant, i.e. clicking 'Send Invitation' for some study. This isn't to be confused with them enteri

[2018-03-18 07:12] victorlian commented on #115
@wilmol Hi Will, I was expecting #14 "Fix validation of email format" to fix this. But I guess they forgot to fix it for adding participants (probably because you have to login as admin)
So yes, email validation should also be done here, I'll update the acceptance criteria.

[2018-03-18 08:40] victorlian commented on #21
@softeng-701 As this feature required a fair amount of code to write (front-end, back-end and tests), I'm proposing to upgrade this feature from medium to large. Please have a look at pull request #119.

[2018-03-18 10:51] umih874 opened #120 "Clear input box after user tries to reset password"
# Issue
Currently, when the user tries to reset the password, after selecting save, a feedback message comes up indicating whether the password was reset properly (2nd image) or not (3rd image). However, the text inside the input box stays there and the user has to clear the box before it can try again. I think it would be nice if the box clears after the user clicks the save button.

# Recreate
L

[2018-03-18 10:52] umih874 commented on #120
@softeng-701

[2018-03-18 20:54] Jcen902 commented on #32
I may not have time for this issue, so someone else can look at it.

[2018-03-18 21:51] kblincoe commented on #91
Per the fix in #114, it might be better to leave as one sender (but somehow have responses also sent to the person who owns the study?)

[2018-03-18 23:42] softeng-701 commented on #120
@umih874 Approvded

[2018-03-19 00:27] zaclochhead commented on #99
@softeng-701  please review the image above and let me know if this colour misassociation is an issue that needs to be changed

[2018-03-19 01:07] wilmol commented on #102
@softeng-701 bump. Added screen shot and reproduce detail.

[2018-03-19 03:57] wilmol commented on #91
Ok, this issue could be then: Study invitations are being sent from a single, QualOpt email account but the participants have no indication which QualOpt user sent to them. When participants reply to these study invitations it should be forwarded to the user who created the study.

[2018-03-19 10:31] TheGuardianWolf commented on #106
This issue also includes resolution of the above closed issue #94

[2018-03-20 00:32] Jcen902 commented on #112
Still no one want it? Ok, I will take it, should be a easy fix...

[2018-03-20 22:15] umih874 commented on #120
@softeng-701 I have looked at this in more detailed and I believe it should be classed as a **small** issue.

[2018-03-21 08:22] st970703 opened #124 "Feature Request: Internationalization using the i18 feature in JHipster"
Current the QualOpt App is only in English. By using the i18 internationalization feature of JHipster, we can add another language that is not English, such as German.

This will then enable the user to switch the UI language using a new URL. For example, base URL + '?lang=de' for the German version of the same UI.

This should be a small issue for internalization of one more language, but can bec

[2018-03-21 09:39] softeng-701 commented on #120
@umih874 APPROVED!

[2018-03-21 09:39] softeng-701 commented on #118
@AprajitGandhi APPROVED!

[2018-03-21 09:40] umih874 commented on #120
Claiming this one

[2018-03-21 09:43] softeng-701 commented on #115
@wilmol @victorlian small?

[2018-03-21 09:44] victorlian commented on #115
@softeng-701 yes I would still suggest small.

[2018-03-21 09:47] wilmol commented on #115
@softeng-701 yes

[2018-03-21 09:52] #57 closed

[2018-03-21 10:05] softeng-701 commented on #88
@Karim-C Very-small?

[2018-03-21 10:06] softeng-701 commented on #99
@zaclochhead APPROVED!

[2018-03-21 10:06] softeng-701 commented on #102
@wilmol APPROVED!

[2018-03-21 10:07] softeng-701 commented on #115
@victorlian @wilmol APPROVED!

[2018-03-21 10:08] softeng-701 commented on #124
@st970703 APPROVED!

[2018-03-21 19:35] Karim-C commented on #88
@softeng-701 I had a closer look at the issue. The solution is not immediately obvious it will likely be more than just editing a String. The Exception with the message "not a well-formed email address" seems to be thrown by a library so this will have to be caught and processed or the "not a well-formed email address" has to be identified beforehand.

[2018-03-21 19:42] zaclochhead commented on #99
Thanks, completed by team veovo

[2018-03-21 22:03] #112 closed

[2018-03-21 22:31] Jcen902 commented on #111
May relate issue #31

[2018-03-22 00:51] wilmol commented on #102
claiming

[2018-03-22 01:10] wilmol commented on #102
After the recent merges another bug has come up.
The 'Send Invitation on the view **all** studies page doesn't update the status:

View all studies page:
![screenshot from 2018-03-22 13-46-38](https://user-images.githubusercontent.com/18110897/37745512-0ff46b3a-2dda-11e8-894a-550f8d5aacdc.png)

After clicking 'Send Invitation':
![screenshot from 2018-03-22 13-46-44](https://user-images.githubuserc

[2018-03-22 09:22] crat019 commented on #39
Hi @softeng-701 and @kblincoe. After working on this issue and finally reaching a conclusion, I wanted to ask if I could bump the scope of this issue from a large to a very-large. The scope of this issue could be broken into two parts; adding the login functionality through Github and then creating an opt-in and opt-out service for the participants.

**Github Login**
This was a relatively straight

[2018-03-23 04:11] kblincoe commented on #39
OK

[2018-03-23 04:18] pulkitkalra opened #129 "Bug: A study can be created without a title"
When creating a new study, the form implies that the title is required. However, the validation of the form has a bug and one can create a study without a name (or with the name being an empty string).

Steps to reproduce:
- Create a new study and enter a title
- Delete the title completely
- Click the next button at the bottom
- Enter a the email subject and save
- A new study is created without

[2018-03-23 06:53] victorlian commented on #75
Closing the issue as it is now merged.

[2018-03-23 09:07] softeng-701 commented on #129
@pulkitkalra APPROVED!

[2018-03-25 00:42] Karim-C opened #132 "The upstream master branch is failing unit tests"
The most recent pull requests which were merged in don't pass the unit tests.

To reproduce this issue:
1) Pull the latest upstream changes
2) In the QualOpt_SE701 folder run ``` .\mvnw clean test``` to run the unit tests

The output will look like this:
[code]

The following warning and exception that was in the output seems to be the casue of the issue:

[code]

@softeng-701 Estimating the size

[2018-03-25 01:03] wilmol commented on #132
#131 fixes it afaik

[2018-03-25 01:37] dylHall opened #134 "Feature Request: Connect to GitHub API using credentials/OAuth to increase hourly API limit"
## Feature Request Information
#40 has been pulled in to master, and has added the ability for researchers to add new participants by sending a request to the GitHub API with optional search terms.

However, the GitHub API imposes rate limits on its API - the current implementation is connected to anonymously, which means there's a limit of 60 API calls per hour. This poses a problem for when a re

[2018-03-25 03:48] oliver-allen commented on #41
I will be adding a name, the number of followers and the number of following. These are the only other useful properties of a GHUser.

[2018-03-26 03:24] jsoulsby opened #138 "Feature Request: Dynamically load the participants table in the participants tab when creating a new study"
**Feature Request Information**

As mentioned in #137 - I was unable to figure out how to dynamically populate the participants table when the ngb-tabset was changed to the participants tab. Currently the table is loaded when the user clicks on the 'Load Participants' button above the filter textboxes. It is desirable to have the table populate automatically either when the tab is changed to "Part

[2018-03-26 07:06] softeng-701 commented on #132
@Karim-C @wilmol shall I close this?

[2018-03-26 07:27] softeng-701 commented on #138
@jsoulsby APPROVED!

[2018-03-26 07:29] softeng-701 commented on #134
@dylHall APPROVED!

[2018-03-26 19:44] xavier630 opened #139 "Issues with upstream master tests"
This is a different issue to #132. I can't see this issue having already been raised anywhere.

Master is currently not building due to compilation errors in one of the test classes.

@TheGuardianWolf Spotted the issue and has resolved it in this commit:
https://github.com/kblincoe/QualOpt_SE701/commit/cf2ac08a0d52a55bc9f8d9bd90bec6c61e27bdf1

The file causing the errors is this file:
StudyResourc

[2018-03-26 20:07] #139 closed

[2018-03-26 20:07] xavier630 commented on #132
Moving my issue here since it's easier to track:

Master is currently not building due to compilation errors in one of the test classes.

@TheGuardianWolf Spotted the issue and has resolved it in this commit:
cf2ac08

The file causing the errors is this file:
StudyResourceIntTest.java

I estimate that this issue is an extra small.

[2018-03-26 20:09] TheGuardianWolf commented on #132
We really need a CI tool for this, then we won't have to track these

[2018-03-26 20:21] TheGuardianWolf commented on #132
Our team has done nearly 2x the suggested issue amounts, not really keen on adding more at this current point in time xD

[2018-03-26 20:22] xavier630 opened #140 "[Bug] Text is aligned to the right on the latest about page"
On the latest about page, the text is all towards the right side of the screen, at least on medium viewports.
Here is a screenshot:
![image](https://user-images.githubusercontent.com/9077250/37930857-76cf199e-31a0-11e8-940a-9d6f23cef071.png)

It is very unconventional in web development to use only the right two-thirds of the page when placing text.

I estimate that this would be a very small issu

[2018-03-26 20:46] xavier630 commented on #132
I'm addressing the above issue now:

[code]

[2018-03-26 20:47] wilmol commented on #132
@softeng-701 The handout wants us to create issues before PRs so I think this is a valid issue.

[2018-03-26 20:52] xavier630 commented on #132
@wilmol I agree with you, but it is a little hazy as we're also not allowed duplicate issues - eg multiple different issues with the readme had to come under one issue. I've followed that pattern by putting multiple issues with the builds here under one issue.

[2018-03-26 22:29] Karim-C opened #143 "Feature Request: Add a continuous integration tool"
Adding a continuous integration (CI) tool would allow the test to be run before the pull requests are merged into the master branch. By testing the code before it is merged it would prevent people from breaking the build.

The upstream master has been broken on this project in the past, and it had an adverse effect on the productivity of some of the contributors working on the project. Therefore,

[2018-03-26 22:35] Karim-C commented on #132
Adding a CI tool is a good idea, Xavier. I raised an issue.

[2018-03-27 03:46] Nateeo commented on #138
@softeng-701  We've worked together on the issue and decided to implement this within the parent issue #34

[2018-03-27 05:26] Nemeritz commented on #129
claim

[2018-03-27 08:17] Nemeritz opened #145 "[Bug] Popup to save changes to new study dialog comes up when all fields are empty"
When creating a new study, the pop-up prompt to discard changes should not appear if all fields are empty. This does not work properly if something is entered into the fields and then deleted. When something is entered into the fields and then deleted the pop-up should not appear as there are only empty strings in the fields.

**Steps to Reproduce**
- Create new study
- Enter something in one of t

[2018-03-27 09:25] softeng-701 commented on #145
@Nemeritz APPROVED!

[2018-03-27 09:25] softeng-701 commented on #143
@Karim-C APPROVED!

[2018-03-27 09:26] softeng-701 commented on #140
@xavier630 Do you think the work takes 1 hour? Please comment! Thanks

[2018-03-27 09:29] xavier630 commented on #140
@softeng-701
Yep, I imagine it would take about as a rough estimate. If you weren't familiar with the page and needed to get up to speed, it would potentially take a bit longer. One could possibly argue as well that it's a small rather than an extra small if that's what you're getting at.

Cheers.

[2018-03-27 10:18] TheGuardianWolf commented on #132
I believe this can be closed now?

[2018-03-27 19:36] Karim-C commented on #88
@softeng-701 is there any thing else you need to know about the issue before it is approved?

[2018-03-27 21:56] softeng-701 commented on #140
@xavier630 go for it! APPROVED!

[2018-03-27 22:38] crat019 opened #147 "Feature Request: Ability to login as both a Researcher and a Participant"
## Feature Request
#39 Introduced a new view for a user who logged in as a participant. Currently, there is only the option to login as a participant or as a researcher; you can't login as both. It would be a good feature to be able to have one account that can be a researcher and a participant (for studies that they are not a researcher for).

## Changes
This feature requires backend changes as w

[2018-03-28 01:47] oliver-allen opened #149 "Bug: Only allow positive numeric values of a participant"
Very small issue. Involves limiting the range of numbers allowed for:
Number of contributions
Number of repositories
Number of followers
Number of following

[2018-03-28 02:51] xavier630 commented on #5
I have done enough issues for the assignment - but I still would love to hear what you think about my previous comment @softeng-701. It is very similar in content to the medium linked below, and was quite difficult. As such, I feel that this issue should be a medium. https://github.com/kblincoe/QualOpt_SE701/pull/80

[2018-03-28 03:18] softeng-701 commented on #147
@crat019 APPROVED! But, are you sure you are going to work on them?

[2018-03-28 03:18] softeng-701 commented on #149
@oliver-allen APPROVED!

[2018-03-28 04:18] xavier630 commented on #38
@softeng-701 You can close this one now.

Cheers.

[2018-03-28 09:02] KijongHan opened #152 "Feature Request: Implement WYSIWYG editor when filling in a study's FAQ field"
# Feature Request
This feature request is related to issue #42 and PR #93. At the moment, the contents of the Study FAQ field is rendered unfiltered to view (So any html markup in this field will be rendered). However, at the moment the Study FAQ field can only be filled in via a basic input text field. Instead, I am proposing an implementation that decorates this field using a WYSIWYG editor (Exa

[2018-03-28 12:20] crat019 commented on #147
@softeng-701 It seems like a bit too much work to do in one day. I just wanted to make the feature request as it is something that I had thought about when finishing up Issue #39

[2018-04-10 00:04] frederickfogerty commented on #58
Claiming

[2018-04-10 00:46] frederickfogerty commented on #143
Claiming